{% extends "quoteapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quoteapp:quote' %}">
    {% csrf_token %}

    <div style="padding: 10px">
        <label>Quote text:
            {{ form.quote }}
        </label>
        <span style="color:red;">{{ form.errors.quote }}</span>
    </div>

    <div style="padding: 10px">
        <label>Author:
            {{ form.author }}
        </label>
        <span style="color:red;">{{ form.errors.author }}</span>
    </div>

    <div style="padding: 10px">
        <label>Select tags:
            <select name="tags" multiple required>
                {% for tag in tags %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}
